* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, black, #720172) no-repeat center  fixed;
}
.elem {
    position: absolute;
    padding: 7px;
}
.elem, .anchor {
    font-family: Arial, sans-serif;
    border: 1px solid antiquewhite;
    border-radius: 40px;
    color: white;
}
.anchor {
    padding: 5px;
}
.container {
    width: 80px;
    height: 250px;
    margin: auto;
    text-align: center;
}
