* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom, black, purple) no-repeat;
    height: 1000px;
}
.elem, .anchor {
    border: 2px solid antiquewhite;
    border-radius: 45px;
    padding: 4px;
    color: white;
    margin: 5px;
}
.container {
    width: 80px;
    height: 250px;
    margin: auto;
    text-align: center;
}
